.row{
    margin-left:0px;
    margin-right:0px;
}
.area{
width:100px;

}
#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.nfooter{      position: fixed;
    bottom:11px;
    margin-left: 459px;
    background-color:#e3dddc;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
 
header .main-nav{
	 background-color:#FA8072;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4000;
	max-height: 69px;
}
header .main-nav-scrolled{
	background-color: rgba(0,0,0,0.4);
}
a.btn.btn-lg.btn-success {
    line-height: 1.1;margin-top:12px;
}
a.btn.btn-lg.btn-info {
    line-height: 1.1;margin-top:12px;
}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .active .nav-link{
	color: #00e0d0;
}
.bgwhite{
    height:70px;
    background-color:white;
     box-shadow: 5px 3px;
 
}
.smalldiv{
    background-color:#FA8072;
    float:left;
    margin-top:21px;
 
}
.smalldiv2{
    background-color:lightgreen;
    float:left;
    margin-top:21px;
    
}
.cndtion{
    margin-top:21px;float:right;
    
}

/*for test*/
body{
  height: 400px;
  background-color:#f1f1f1;
}
.ds-btn li{ list-style:none; float:right; padding:10px; }
